# Python bytecode
__pycache__/
*.py[cod]
*$py.class

.idea/

# IDE/project files
.idea/
.vscode/
*.iml

# Build/output/logs
*.log
*.sqlite
*.db
*.bak
*.zip
*.exe

# OS/system files
.DS_Store
Thumbs.db


